extends layout

block content
    h1 Register

    form(action='' method='POST')
        label First Name
            input(type='text' name='firstName')
        label Last Name 
            input(type='text' name='lastName')
        label Username 
            input(type='text' name='username')
        label Password  
            input(type='password' name='password')
        label Confirm Password  
            input(type='password' name='confirmPassword')

        button Register

    a(href='/login') Cancel
