@font-face {
    font-family: source sans;
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

body {
    margin: 0;
    font-size: 18px;
    font-family: source sans;
    color: #1c1e21;;
}
button {
    font-family: source sans;
}
input {
    color: #1c1e21;
}
html, body, #root, .Page {
    font-family: source sans;
    font-size: 18px;
    width: 100%;
    height: 100%;
    color: #1c1e21;
}
