.loginPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f0f2f5;
    padding: 2rem;
    height: 100vh;
}
.loginPage-title {
    color: #1877f2;
    font-size: 24px;
}
.loginPage-title h1 {
    margin: 0;
    margin-bottom: 1rem;
}
.loginForm-container {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    width: 364px;
}
.loginForm-title {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}
#loginForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#loginForm #loginButton {
    border: none;
    color: #fff;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 600;
    background-color: #1877f2;
    line-height: 48px;
}
#loginForm input {
    font-size: 17px;
    padding: 14px 16px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
}
#loginForm input:focus {
    outline: none;
}
.login-buttons {
    display: flex;
    flex-direction: column;
}
.login-buttons #registerLink {
    text-decoration: none;
    color: #1877f2;
    border-bottom: 1px solid #fff;
}
.login-buttons #guestLoginButton {
    background-color: #FFBA00;
    border: none;
    color: #fff;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
    line-height: 32px;
}
.login-buttons #fbLoginButton {
    background-color: #00a400;
    border: none;
    color: #fff;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
    line-height: 32px;
}
.login-buttons button:hover, #loginForm #loginButton:hover {
    cursor: pointer;
    background-color: #1B74E4;
}
.login-buttons #guestLoginButton:hover {
    background-color: hsl(40, 89%, 52%);
}
.login-buttons #fbLoginButton:hover {
    background-color: #31A24C;
}
.login-buttons #registerLink:hover {
    border-bottom: 1px solid #1877f2;
}
.login-buttons .login-buttons-topRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.login-buttons .login-buttons-bottomRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginPageContainer .errorMessage {
    padding-top: 2rem;
    color: red;
    font-weight: 600;
   
}
.loginPageContainer .errorMessage p {
    margin: 0;
}

.registeredSuccessfully {
    display: flex;
    justify-content: center;
}
.registeredSuccessfully p {
    margin-top: 0;
    color: #00a400;
}

@media (max-width: 425px) {
    .loginPageContainer {
        padding: 0;
        padding-top: 1rem;
        min-width: 300px;
    }
    .loginForm-container {
        padding: 12px;
        width: auto;
    }
    .loginForm-title {
        padding-bottom: 12px;
    }
    .login-buttons {
        gap: 8px;
    }
    #loginForm {
        margin-bottom: 8px;
    }
}