.messages-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #F5F6F7;

    min-height: calc(100vh - 55px);
}

/* SIDEBAR */
.messages-sidebar {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
}
.sidebar-currentChats h2 {
    color: black;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 0;
}
.sidebar-currentChats-individualChat {
    border-radius: 8px;
    background-color: #F5F6F7;
    margin-bottom: 0.5rem;     
}
.sidebar-currentChats-individualChat:hover {
    background-color: #EBEDF0;
}
.sidebar-currentChats-individualChat.selectedSidebarChat {
    background-color: rgba(45, 136, 255, 0.1);
}
.sidebar-currentChats-individualChat-info {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
}
.sidebar-currentChats-individualChat-clickable {
    display: flex;
    flex-direction: column;
}
.sidebar-currentChats-individualChat-clickable:hover {
    cursor: pointer;
}
.sidebar-currentChats-individualChat-clickable p {
    margin: 0;
}
.individualChat-chatRecipient p {
    font-weight: 600;
}
.individualChat-chatPreview {
    font-size: 15px;
    display: flex;
}

/* MESSAGES */
.messages-main {
    display: flex;
    flex-direction: column;
    border: 1px solid #dddfe2;
    border-bottom: none;
}
.messages-searchbar {
    border-bottom: 1px solid #dddfe2;
    padding: 1rem;
}
.messages-searchbar label {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.messages-searchbar label input {
    background-color: #F5F6F7;
    border: none;
    font-size: 16px;
    width: 90%;
}
.messages-searchbar label input:focus {
    outline: none;
}
.messages-searchbar-suggestions {
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 40%;
    min-width: max-content;
    max-width: 40%;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
}
.messages-searchbar-suggestions-individualSuggestion {
    padding: 4px 8px 4px 8px;
    margin: 0.5rem;
    border-radius: 8px;
}
.messages-searchbar-suggestions-individualSuggestion:hover {
    cursor: pointer;
    background-color: #EBEDF0;
}
.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.chat-allMessages {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    min-height: 67.5vh;
}
.chat-allMessages-individualMessage {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.chat-allMessages-individualMessage .individualMessage-bubble p {
    margin: 0;
}
.chat-allMessages-individualMessage .individualMessage-timestamp {
    margin: 0;
    align-self: center;
}
.chat-allMessages-individualMessage.currentUser, .chat-allMessages-individualMessage.currentUser .individualMessage-bubble {
    align-self: flex-end;
}
.chat-allMessages-individualMessage.currentUser .individualMessage-bubble {
    background-color: #1877f2;
    color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 2px;
}
.chat-allMessages-individualMessage.recipientUser, .chat-allMessages-individualMessage.recipientUser .individualMessage-bubble {
    align-self: flex-start;
}
.chat-allMessages-individualMessage.recipientUser .individualMessage-bubble {
    background-color: green;
    color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 2px;
}
.chat-allMessages-individualMessage.recipientUser {
    align-self: flex-start;
}

.chat-writeMessage {
    padding: 8px 0 8px 0;
    position: sticky;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: #fff;
}
.chat-writeMessage form {
    display: flex;
    justify-content: space-between;
    padding: 0 8px 0 8px;
}
.chat-writeMessage form input {
    width: 100%;
    border-radius: 16px;
    padding: 8px;
    border: none;
    background-color: #dddfe2;
}
.chat-writeMessage form input:focus {
    outline: none;
}
.chat-writeMessage form button {
    margin-left: 8px;
}