.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    padding: 3px 1rem 0 1rem;
    height: 52px;
    min-height: 52px;
    max-height: 52px;
    min-width: 234px;
}
#scrollToTopButton {
    width: 40px;
}
#scrollToTopButton:hover {
    cursor: pointer;
}
.buttonContainer {
    display: flex;
    justify-content: center;
}
.buttonContainer a, .buttonContainer button {
    padding: 8px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #fff;
}
.buttonContainer a:hover, .buttonContainer button:hover {
    background-color: #EBEDF0;
}
.navbar a img, .navbar button img {
    width: 30px;
}
.buttonContainer button {
    background-color: #fff;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}
.buttonContainer button:hover {
    cursor: pointer;
}
.currentlyActive {
    border-bottom: 3px solid #1877f2;
}
.currentlyActive img {
    filter: invert(40%) sepia(80%) saturate(4498%) hue-rotate(203deg) brightness(99%) contrast(91%);
}

/* Page offset */
.non-navbar-content {
    margin-top: 55px; 
}

@media (max-width: 400px) {
    .navbar {
        padding: 3px 8px 0 8px;
    }
    .buttonContainer a, .buttonContainer button {
        padding: 4px;
    }
}
@media (max-width: 350px) {
    #scrollToTopButton {
        width: 35px;
    }
    .navbar a img, .navbar button img {
        width: 25px;
    }
}
@media (max-width: 250px) {
    .navbar {
        max-width: 234px;
    }
}