.Page.ProfilePage {
    background-color: #F0F2F5;
    min-height: calc(100vh - 55px);
}
.profileHeader {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
    margin-top: 55px;
    background-color: #fff;
    border-bottom: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}
.profileHeader-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    border-bottom: 1px solid #dddfe2;
}
.profileHeader-navigation {
    display: flex;
}
.profileHeader-navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
}
.profileHeader-navigation-list li p {
    margin: 4px;
    padding: 1rem;
    font-weight: 600;
    border-radius: 8px;
}
.profileHeader-navigation-list li p:hover {
    cursor: pointer;
    background-color: #EBEDF0;
}
.profileHeader-navigation-list li.active {
    color: #1877f2;
    border-bottom: 2px solid #1877f2;
}

/* Posts Tab */
.profileContent-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profileContent-individualPost {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    border-radius: 8px;
    background-color: #fff;
}
.profileContent-individualPost-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.profileContent-individualPost-header .headerCredentials {
    display: flex;
    flex-direction: column;
}
.profileContent-individualPost-header .headerCredentials p {
    margin: 0;
}
.profileContent-individualPost-header .headerCredentials .profile-individualPost-author {
    font-weight: 600;
}
.profileContent-individualPost-header .headerCredentials .profile-individualPost-timestamp {
    font-size: 14px;
}
.profileContent-individualPost-header .profile-posts-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profileContent-individualPost a {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
    color: black;
}
.profileContent-individualPost-stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.profileContent-individualPost-stats p {
    border-bottom: 1px solid white;
}
.profileContent-individualPost-stats p:hover {
    border-bottom: 1px solid black;
}

/* About Tab */
.profileContent-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutInfo {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
#editProfileForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}
#editProfileForm label {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}