.profileHeader {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.profileHeader-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    margin-bottom: 0;
    border-bottom: 1px solid black;
}
.profileHeader-navigation {
    display: flex;
    border-bottom: 1px solid black;
}
.profileHeader-navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
}
.profileHeader-navigation-list li {
    padding: 1rem;
    margin: 0.5rem;
}
.profileHeader-navigation-list li:hover {
    cursor: pointer;
    background-color: lightgray;
}
.profileHeader-navigation-list li.active {
    color: blue;
    border-bottom: 2px solid blue;
}

/* Posts Tab */
.profileContent-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profileContent-individualPost {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
}
.profileContent-individualPost a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: black;
}
.profileContent-individualPost-stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.profileContent-individualPost-stats p {
    border-bottom: 1px solid white;
}
.profileContent-individualPost-stats p:hover {
    border-bottom: 1px solid black;
}

/* About Tab */
.profileContent-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutInfo {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
#editProfileForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}
#editProfileForm label {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}